<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .bg1{
            background-color:#b4d1e0;
        }
        .nombreMetodo{
            font-size: 23px;

        }

        .nuestrosNombres{
            font-size: 14px;
        }

        .divBoton{
            margin-bottom: 10px;
        }

        .decideLogo{
            float: right;
        }
       
       


    </style>
    
    <title>Sobre nosotros</title>
</head>


<body>
    <div class="bg1">
        <div class="bg1">

            <img src="https://www.informatica.us.es/docs/imagen-etsii/logo-ETSII-Color.png" class="img-responsive" alt="ETSII">
        </div>
        
    
        <div class="wrapper margen">
            <div class="container">
                <div style="margin-bottom: 20px;">
                    <center>
                        <a href="https://www.us.es/">
                            <img src="https://www.us.es/sites/default/files/2019-05/marca-US-principal.jpg" class="img-circle" alt="LogoUS">
                        </a>
                    </center>
                </div>
                      
            </div>
        </div>
    </div>


    <div>

        <pre>
            <span style ="color:#ffa600" class="nombreMetodo">.quienesSomos  </span>{ 

                Somos un grupo de estudiantes de la asignatura de Evolución y
                Gestión de la configuración (EGC) cuyo proyecto práctico a
                consistido en la realización de una plataforma de voto online
                llamada Decide basada en Django.
            
            }

        </pre>

        <pre>
            <span style="color:#b01d1d;" class="nombreMetodo">.institución  </span>{

                Todas las personas involucradas en este proyecto pertenecemos
                a la Universidad de Sevilla, en concreto, a la Escuela Técnica
                Superior de Ingeniería Informática (ETSII).

            }

        </pre>

        <pre>
            <span style="color:#3d6cc5;"class="nombreMetodo">.grupoCabina  </span>{

                El subgrupo encargado de la cabina (Perteneciente al grupo mayor 
                Votación) se ha encargado de aportar utilidades finales y un 
                estilo apropiado al grueso del proyecto. Sus integrantes son:

                <span class="nuestrosNombres">David: </span>davcacrom@alum.us.es ;
                <span class="nuestrosNombres">Laura: </span>lauporsol@alum.us.es ;
                <span class="nuestrosNombres">Elena: </span>eleespgon1@alum.us.es ;
                <span class="nuestrosNombres">José Joaquín: </span>josrojrom1@alum.us.es ;
                <span class="nuestrosNombres">Alejandro: </span>alegonmar2@alum.us.es ;
                <span class="nuestrosNombres">Alvaro: </span>alvafric@alum.us.es ;


            }

        </pre>


    </div>

    <center>
        <div class="divBoton">
            <a  class="btn btn-sm btn-info" href="{% url 'welcome' %}">Volver al inicio de Decide</a>
        </div>
    </center>    
    

</body>





</html>