{% load static%}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1 style="left:0; display:inline;">{{ voting.id }} - {{ voting.name }}</h1>
<div id="guideTitle" class="divGuide" style="padding:10px;margin:10px;">
	{% trans "Title of the voting" %}
	{% if voting.desc %}
	<input class="buttonGuide" type="submit" value="{% trans "Accept" %}" onClick="alertDescription()" />
	{%else%}
	{% if start_date == None%}
	<input class="buttonGuide" type="submit" value="{% trans "Accept" %}" onClick="alertDateNotStart()" />
	{%else%}
	<input class="buttonGuide" type="submit" value="{% trans "Accept" %}" onClick="alertDateStart()" />
	{% endif %}
	{% endif %}
</div>
{% endblock %}