{% load static%}
{% load i18n %}
{% load rest_framework %}
<!DOCTYPE html>
{% block head %}
<div class="text-center">
	<div class="container-fluid bg-primary text-white py-3">
		<div class="container">
			<h1 class="display-3">
				<b class="fuente">Decide-Cabina</b>
			</h1>
		</div>
	</div>
	<p class="lead bg-info text-white">Selecciona tu respuesta para esta votación</p>
</div>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1 style="left:0; display:inline;">{{ voting.id }} - {{ voting.name }}</h1>
<div id="voting">
	{% if start_date == None%}
	<p>La votación no ha empezado aún</p>

	{%else%}
	<p>La votación empezó el: {{ start_date }}</p>

	{%if end_date == None%}
	<p>Aún puede votar, no ha finalizado la votación</p>
	{% else %}
	<p>Ya no puede votar, la votación se cerró el: {{ end_date }}</p>
	{% endif %}

	{% endif %}
</div>

{% endblock %}