{% load i18n static %}
<!DOCTYPE html>
{% block head %}
<div class="text-center">
<div class="container-fluid bg-primary text-white py-3">
    <div class="container">
        <h1 class="display-3">
            <b class="fuente">Decide-Cabina</b>
        </h1>
    </div>
</div>
<p class="lead bg-info text-white">Inicio</p>
</div>
{% endblock %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />
{% endblock %}

<div class="presentacion">
<h2>¡Bienvenido/a a la cabina de votación de Decide-Rio Tinto.</h2>
<p>
    Te encuentras en la página de inicio. Si quieres participar en una votación debes logearte primero. Pulsa <a  class="hello-msg" href="{% url 'login' %}">aqui</a> para logearte.
</p>
<p>
    Si no estas registrado, pulsa <a  class="hello-msg" href="{% url 'register' %}">aquí</a> para registrarte.
</p>
<p>
    Ten en cuenta que solo podrás participar en aquellas votaciones en las que un administrador te haya censado.
</p>
<p>
    Actualmente tenemos estás votaciones abiertas:
</p>
</div>

<table class="listaVotaciones">
    <thead>
    <tr>
  
      <th scope="col">Celda 1</th>
      <th scope="col">Celda 2</th>
      <th scope="col">Celda 3</th>
  

  
    </tr>
    </thead>
    <tbody>
        {% for v in allVotaciones %}
    <tr>
  
      <td><a class="btn btn-sm btn-info" href="{% url 'welcome' %}">{{v.name}}</a></td>
      <td>{{v.end_date}}</td>
      <td>{{v.name}}</td>
    </tr>
    {% endfor %}
</tbody>
  </table>
  {% if user.is_authenticated %}
  {% if not listaVacia %}
  <table class="listaVotacionesCensado">
    <thead>
    <tr>
  
      <th scope="col">Celda 1</th>
      <th scope="col">Celda 2</th>
      <th scope="col">Celda 3</th>
  

  
    </tr>
    </thead>
    <tbody>
        {% for a in votacionesCensado %}
    <tr>
  
      <td><a class="btn btn-sm btn-info" href="{% url 'welcome' %}">{{a.name}}</a></td>
      <td>{{a.end_date}}</td>
      <td>{{a.name}}</td>
    </tr>
    {% endfor %}
</tbody>
  </table>
  {% endif %}
  {% endif %}
  {% if user.is_authenticated %}
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% endif %}
<hr />